* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #ecf0f1;
  font-family: "Roboto", sans-serif;
  color: #2f3640;
}
.hero-section {
  height: 40vh;
  width: 100%;
  background-color: #dcdde1;
  border: none;
  padding: 5px;
}
.card {
  height: 30vh;
  width: 100%;
  background-color: #dcdde1;
  border: none;
  padding: 5px;
}
.row {
  justify-content: space-between;
}
#footer {
  background-color: #dcdde1;
  height: 5vh;
}
.navbar {
  background-color: #dcdde1;
}
